<page-header text="Employees">
</page-header>

<!--<breadcrumb></breadcrumb>-->

<div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>

<div [ngClass]="{ 'spinner': isLoading }">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Search..." max="5" #searchInput />
            </div>

            <div class="col-sm-2">
                <select #country required class="form-control" [(ngModel)]="filters.country" name="country"
                    (change)="initCities($event.target.value)">
                <option *ngFor="let item of filters.officeLocations" value= {{item.Country}}>
                    {{item.Country}}
                </option>
            </select>
            </div>

            <div class="col-sm-2">
                <select #city required [disabled]="!filters.country || filters.country==filters.allCountriesText" class="form-control" 
                    [(ngModel)]="filters.city"
                    name="city">
                <option *ngFor="let item of cities" value= {{item}}>
                    {{item }}
                </option>
            </select>
            </div>

            <div class="col-sm-2">
                <select #status required class="form-control" [(ngModel)]="filters.status" name="status">
                <option *ngFor="let item of filters.statusList"  value= {{item.id}}>
                    {{item.value}}
                </option>
            </select>
            </div>

            <div class="col-sm-1" style="width: 30px; margin-right: 20px;">
                <i class="fa fa-search fa-2x" aria-hidden="true" (click)="search(searchInput.value, filters)"></i>
                <!--<button (click)="search(searchInput.value, filters)">Search</button>-->
            </div>

            <div class="col-sm-1">
                <button type="button" class="btn btn-sm btn-default" (click)="resetFilters()">Reset filters</button>
            </div>
        </div>
    </form>

    <div *ngFor="let employee of employees">
        <employee [employee]="employee"></employee>
    </div>

    <span>
        <pagination style="margin-top: 10px;" [totalItems]="pageSettings.totalCount" [itemsPerPage]="pageSettings.itemsPerPage" 
            [(ngModel)]="pageSettings.currentPage" (pageChanged)="onPageChanged($event)" ></pagination>
    </span>

</div>