<footer class="footer">
    <div class="sidebar-footer">
                <ul class="terms">
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">About</a></li>
                </ul>
    </div>
    <span class="text-left"></span>
    <span class="pull-right">
        <a [href]="companyUrl">{{companyDisplayName}}</a>, 2016
    </span>
</footer>

<link [href]="secureUrl" rel="stylesheet">